:root {
  --color-teal-600: #577772;
  --color-teal-700: #405C58;
  --color-teal-500: #688A85;
  --color-slate-700: #465952;
  --color-orange-600: #C56A39;
  --color-orange-800: #7F3A1A;
  --color-gold-600: #A57221;
  --color-gold-300: #D5AB75;
  --color-sand-300: #CEB59A;
  --color-sand-200: #E7D0AA;
  --color-ivory-50: #FAF3DC;
  --color-walnut-800: #592B12;
  --color-ink-900: #28150A;
}